.appH2 {
  background-color: purple;
  height: 300px;
  margin-top: -83px;
}
.appH2 h2 {
  text-align: center;
  font-size: 100px;
  margin-bottom: 10px;
}
.appButton {
  /* position: absolute; */
  margin: auto;
}
.appButton button {
  position: relative;
  font-size: 25px;
  border-radius: 12px;
}
.mainLogo {
  background-color: black;
  text-align: center;
  height: 240px;
}
.mainLogo img {
  height: 100%;
  background-size: contain;
}
.titleImage {
  background-color: green;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 800px) {
  .titleImage {
    left: 0px;
  }
}
@media screen and (max-width: 1000px) {
  .titleImage {
    left: 50px;
  }
  .appButton {
    margin-left: 230px;
  }
}
