.previewContainer {
  background-color: blue;
  float: left;
  margin-top: 20px;
  height: 600px;
  width: 500px;
}
.listContainer {
  padding-top: 10px;
  margin-top: 20px;
  float: right;
  background-color: red;
  height: 800px;
  width: 20%;
}
.listUls {
  padding-left: 0%;
  list-style-type: none;
  overflow: hidden;
  overflow-y: scroll;
}
.liContainer {
  text-align: l;
  height: 775px;
  background-color: palegreen;
}
.liId {
  text-decoration: none;
  margin-right: 5px;
  width: 100%;
  background-color: green;
}
.liName {
  background-color: yellow;
}
/* @media screen and (max-width: 1000px) {
  .previewContainer {
    margin-top: 50px;
    height: 500px;
    width: 500px;
  }
  .listUls {
    overflow: hidden;
    overflow-y: scroll;
  }
  .liContainer {
    height: 775px;
  }
  .liId {
    background-color: green;
  }
  .liName {
    background-color: yellow;
  }
}
@media screen and (min-width: 1000px) {
  .listContainer {
    width: 500px;
  }
}
@media screen and (min-width: 900px) {
  .liId {
    background-color: purple;
    color: white;
  }
  .liName {
    background-color: blue;
    color: white;
  }
} */
